{% extends "base.html" %}
{% block content %}
  <p><a href="/fouryearplan/">Summary of four year plan</a></p>
  <p> Name: {{ student.name }}</p>
  <p> Email: {{ student.user.email }} </p>
  <p> Major: {{ student.major }} {{ studentmajor }}</p>
  <p> Entering Year: {{ student.entering_year }} </p>
  <p></p>
  <p> Requirements:
    {% for req in majordatablock %}
       <ul style="list-style: none;">
	 <li> {{ req.1 }} ({{ req.3 }} hrs): </il>
         <li> {{ req.2 }} </il>
       </ul>
       {% for courses in req.5 %}
         <li style="margin-left:60px;"> {{ courses.0 }}: {{ courses.1 }}, 
	   {{ courses.2 }} hrs, SP?: {% if courses.3 %} Yes {% else %} No {% endif %},
	   CC?: {% if courses.4 %} Yes {% else %} No {% endif %}</li>
	 <li style="margin-left:90px;"> 
	   {% if courses.5 %}
	     {% for coursetaken in courses.5 %}
	        {{ coursetaken.0 }} {{ coursetaken.1 }}
	     {% endfor %}
	   {% else %}
	     Requirement not yet met.
	   {% endif %}
	 </li>
       {% endfor %}
       <p> </p>
    {% endfor %}
  </p>
  <p><a href="/fouryearplan/">Summary of four year plan</a></p>


{% endblock %}
