{% extends "base.html" %}

{% block content %}

<div class="content-center">
    <form action="" method="post">
      {% csrf_token %} {% if form.errors %}

      <p>Please correct the following fields:</p>{% endif %}

      <div class="addAdv_div">
        {% if form.advisee.errors %}

        <p class="error">{{ form.advisee.errors }}</p>{% endif %}

        <p><label form="advisee" if="" form.advisee.errors="" class="error" endif=
        "">Choose advisee:</label></p>

        <p>{{ form.advisee }}</p>
      </div>

      <p><input type="submit" alt="register" /></p>
    </form>
  </div>

  <script>
    $(window).load(function(){
    $("#nav-plan").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Add Advisee</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>

{% endblock %}
