{% extends "base.html" %}

{% block sidebar %}
  <div class="alert alert-student-info">
  {% if isProfessor %}
    <p>
      Advisee Name: {{ student.full_name }} (<a href="{% url 'update_advisee' %}">Change</a>)
    </p>
  {% else %}
    <p>Name: {{ student.full_name }}</p>
  {% endif %}

  <p>Email: {{ student.user.email }}</p>
  <p>Majors:
    {% for major in  student.majors.all %}
    <p> {{ major }} </p>
    {% endfor %}
  </p>
  <p>Entering Year: {{ student.entering_year }}</p>
  </div>
{% endblock %}

{% block content %}
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      {% for note in advisingNotes %}
	<tr class="info">
	  <td>{{ forloop.counter }}</td>
	  <td>{{ note.updated_at }}</td>
	  {% if not isProfessor %}
	    <td>
	      <a class="btn" href="{% url 'update_note' note.id %}">Edit</a>
	      <a class="btn btn-danger" href="{% url 'delete_note' note.id %}">Delete</a>
	    </td>
	  {% endif %}
	</tr>
        <tr>
	  <td colspan="3">
	    {{ note.note }}
	  </td>
	</tr>
      {% endfor %}
    </tbody>
  </table>

  {% if not isProfessor %}
    <p>
      <a class="btn btn-primary" href="{% url 'add_new_note' %}">Add a Note</a>
    </p>
  {% endif %}
  <script>
    $(window).load(function(){
    $("#nav-notes").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Advising Note</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>

{% endblock %}
