{% extends "base.html" %}

{% block content %}
  {% if isProfessor %}
    <p>Advisee Name: {{ student.name }} 
      (<a class="other" href="{% url 'update_advisee' 3 %}">Change</a>)
    </p>
  {% else %}
    <p>Name: {{ student.name }}</p>
  {% endif %}

  <p>Email: {{ student.user.email }}</p>
  <p>Major: {{ student.major }}</p>
  <p>Entering Year: {{ student.entering_year }}</p>

  {% for item in datablock %}
    <p> Note #{{item.3}} ({{item.0}}{% if isProfessor %}): {% else %},
      <a class="other" href="{% url 'update_note' item.2 %}">Edit</a>,
      <a class="other" href="{% url 'delete_note' item.2 %}">Delete</a>):{% endif %} </p>
    <table>
      <tr>
	<td class = "note">
          <p class = "note">{{ item.1 }}</p>
	</td>
      </tr>
    </table>
  {% endfor %}

  {% if isProfessor %}
  {% else %}
    <p>
      To add a new note,
      <a class="other" href="{% url 'add_new_note' %}">click here</a>.
    </p>
  {% endif %}
{% endblock %}
