{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>iGrad Four Year Planner</title>
    <script src="http://code.jquery.com/jquery.js"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/igrad.css' %}" rel="stylesheet" media="screen">
    {% block extrahead %}
    {% endblock %}
  </head>

  <body>
   <div class="banner-head">
    <div class="container-fluid">
      <div class="hero-unit">
	<h1>iGrad Four Year Planner</h1>
	<p>Brought to you by Professor Ken Kiers and a cast of dozens.</p>
      </div>
    <div class="page-name">
    <h1>Four Year Planner</h1>
    </div>
    </div>
        </div>
      <div class="navbar">
	<div class="navbar-inner">
	  <ul class="nav">
	    <li id="nav-profile"><a href="{% url 'planner.views.profile' %}">Profile</a><i></i></li>
	    <li id="nav-plan"><a href="{% url 'planner.views.display_four_year_plan' %}">Four Year Plan</a><i></i></li>
	    <li id="nav-audit"><a href="{% url 'planner.views.display_grad_audit' %}">Graduation Audit</a><i></i></li>
	    <li id="nav-notes"><a href="{% url 'planner.views.display_advising_notes' %}">Advising Notes</a><i></i></li>
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		About
		<b class="caret"></b>
	      </a>
	      <ul class="dropdown-menu">
		<li><a href="#">Getting Started</a></li>
		<li><a href="#">Acknowledgements</a></li>
	      </ul>
	    </li>
	    {% if user.is_authenticated %}
	      <li><a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a><i></i></li>
	    {% else %}
	      <li id="nav-login"><a href="{% url 'login' %}">Login</a><i></i></li>
	    {% endif %}
	  </ul>
	</div> {# navbar-inner #}
      </div> {# navbar #}

      <div class="row-fluid">
	<div class="span3">
	  {% block sidebar %}{% endblock %}
	</div>
	<div class="span9">
	  {% block content %}{% endblock %}
	</div>
      </div>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.sticky.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
     <script>
    $(window).load(function(){
      $(".navbar").sticky({ topSpacing: 0 });
    });
  </script>
  </body>
</html>
