{% extends "base.html" %}

{% block sidebar %}
  <div class="alert alert-student-info">
  {% if isProfessor %}
    <p>
      Advisee Name: {{ student.full_name }}
      (<a href="{% url 'update_advisee' 2 %}">Choose a different advisee</a>)
    </p>
  {% else %}
    <p>Name: {{ student.full_name }}</p>
  {% endif %}

  <p>Major: {{ student.majors.all.0}}</p> <!-- TODO only shows the first major. Need to fix. -->

  {% if hasMajor %}
    <p>Total Number of Credit Hours for Plan:
      {% if credithrmaxreached %}
	<b style="color:red;"> {{ totalhrsfouryears }}</b>
	 <div class="alert alert-error">
	  <p>
	    <b> Note: </b>Please consult with the Financial Aid Office
	    regarding the 160 credit hour limit.
	    </p>
	  </div>
      {% else %}
	{{ totalhrsfouryears }}
      {% endif %}
    </p>
  {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% if hasMajor %}
    <h1>Requirements</h1>

    {% for req in requirement_blocks %}

      <h2>{{ req.name }}</h2>
      
      {% for comment in req.constraints_comments %}
        <p> {{ comment }} </p>
      {% endfor %}

      <table class="table table-striped table-bordered table-hover table-condensed">
	<tr>
	  <th class="name">Course Name</th>
	  <th class="number">TU Course #</th>
	  <th class="hrs">Req Cr Hrs</th>
	  <th class="acthrs">Actual Cr Hrs</th>
	  <th class="SPCC">SP/CC</th>
	  <th class="taken">Comments</th>
	  {% if not isProfessor %}<th>Action</th>{% endif %}
	</tr>

	{% for course in req.courses %}
	  <tr>
	    <td>{{ course.title }}</td>
	    <td>{{ course.abbrev }}</td>
	    <td>{{ course.credit_hours }}</td>
	    <td>
	      {% if course.met %}
		{% ifnotequal course.taken_for course.credit_hours %}
		  <div class="alert alert-requirements">
		    {{ course.taken_for }} hrs
		  </div>
		{% else %}
		  {{ course.taken_for }} hrs
		{% endifnotequal %}
              {% endif %}
	    </td>
	    {# TODO: Eliminate redundant markup for SP/CC #}
	    <td>
	      {% if course.sp %}
		<span class="badge badge-success">SP</span>
	      {% endif %}
	      {% if course.cc %}
		<span class="badge badge-success">CC</span>
	      {% endif %}
	    </td>
	    <td>
	      {% if course.comment %}
		{{course.comment }}
	      {% else %}
		{% if not req.creditsok %}
		  <div class="alert alert-requirements">
		    Requirement not yet met.
		  </div>
		{% endif %}
	      {% endif %}
	    </td>

	    <!-- In the following the 1 means that we are coming FROM the grad audit
		 page, {{course.sscid}} gives the ssc object id and {{course.courseid}}
		 gives the course id within the ssc objec -->

	    {% if not isProfessor %}
	      <td>
		<div class="btn-group">
		  <a name="{{course.abbrev}}" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		    Delete/Modify
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		    <li>
		      {% if course.comment %} {# Course is currently scheduled #}
			{% if course.iscyoc %} {# A cyoc #}
			  <a href="{% url 'delete_cyoc' 1 0 course.sscid %}#{{course.cnumber}}">Delete</a>
			{% else %}
			  <a href="{% url 'remove_course_from_plan' course.offering_id %}?next={{ request.path|urlencode }}">Delete</a>
			{% endif %} {# cyoc #}
		      {% endif %} {# comment #}
		    </li>
		    <li class="divider"></li>
		    {% for offering_info in course.other_semesters %}
		      <li>
			<a href="{% url 'move_course' course.course_id offering_info.course_id %}?next={{ request.path|urlencode }}">
			  {{offering_info.semester}}; {{offering_info.hours_this_semester}} hrs</a>
		      </li>
		    {% endfor %} {# other semesters #}
		  </ul>
		</div> {# btn-group #}
	      </td>
	    {% endif %} {# Not professor #}
	  </tr>
	{% endfor %} {# course in courselist #}

	<tr>
	  <td class="blank">
	    {% if req.blockcontainscyoc %}<p>* User-created course</p>{% endif %}
	  </td>
	  <td class="blank"></td>
	  <td class="blank"></td>
	  <td {% if req.creditsok %}class="red"{% endif %}>{{ req.credithrs }} hrs</td>
	  <td class="blank"></td>
	  <td class="blank"></td>
	</tr>
      </table>

      {% for comment in req.precocommentlist %}
	<p>
	  <span class="label label-warning">Warning</span>
          <strong style="color:#f89406">{{comment}}</strong>
	</p>
      {% endfor %}
    {% endfor %} {# req in majordatablock #}

    <h1>Courses Not Used to Meet Above Requirements</h1>

    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
	<tr>
	  <th class="name">Course Name</th>
	  <th class="number">Course #</th>
	  <th class="acthrs">Actual Cr Hrs</th>
	  <th class="SPCC">SP/CC</th>
	  <th class="taken">Comments</th>
	</tr>
      </thead>
      <tbody>
	{% for course in unusedcourses %}
	  <tr>
	    <td>{{ course.course.title }}</td>
	    <td>{{ course.course.abbrev }}</td>
	    <td>{{ course.credit_hours }} hrs</td>
	    <td>
	      {% if course.course.is_sp%}
		<span class="badge badge-success">SP</span>
	      {% endif %}
	      {% if course.course.is_cc %}
		<span class="badge badge-success">CC</span>
	      {% endif %}
	    </td>
	    <td>
	      {% if course.comment %}
		{{course.comment }}
	      {% endif %}
	    </td>
	  </tr>
	{% endfor %} {# unused courses #}
	<tr>
	  <td class="blank"></td>
	  <td class="blank"></td>
	  {% if unusedcredithours %}
	    <td>{{ unusedcredithours }} hrs</td>
	  {% else %}
	    <td class="blank"></td>
	  {% endif %}
	  <td class="blank"></td>
	  <td class="blank"></td>
	</tr>
      </tbody>
    </table>

    <h1>SP Requirement</h1>

    <p>
      {% if SPreq %}
	<strong style="color:#08BD1D">SP requirements met!</strong>
      {% else %}
	<span class="label label-warning">Warning</span>
	<strong style="color:#ED0202">At least 2 SP courses are required;
	you have {{ numSPs }} in your plan.</strong>
      {% endif %}
    </p>
    <ul>
      {% for course in SPlist %}
	<li>{{course.cname}} ({{course.cnumber}}), {{course.comment}}</li>
      {% endfor %}
    </ul>

    <h1>CC Requirement</h1>

    <p>
      {% if CCreq %}
	<strong style="color:#08BD1D">CC requirements met!</strong>
      {% else %}
	<span class="label label-warning">Warning</span>
	<strong style="color:#f89406">At least 1 CC course is required; 
	you have {{ numCCs }} in your plan.</strong>
      {% endif %}
    </p>
    <ul>
      {% for course in CClist %}
	<li>{{course.cname}} ({{course.cnumber}}), {{course.comment}}</li>
      {% endfor %}
    </ul>

  {% else %}
    {% if isProfessor %}
      <p>
	<b>A graduation audit cannot be performed, since the student has not yet chosen a
	major.</b>
      </p>
    {% else %}
      <p>
	<b>Because you do not currently have a major, a graduation audit cannot be
	  performed.</b>
	  You can choose a major under
	  <a href="{% url 'profile' %}">profile</a>.
      </p>
    {% endif %} {# is professor #}
  {% endif %} {# doesn't have major #}
  </div>
  <script>
    $(window).load(function(){
    $("#nav-audit").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Graduation Audit</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>
{% endblock %}
