{% extends "base.html" %}

{% block sidebar %}
  <div class="alert alert-student-info">
  {% if isProfessor %}
    <table class="table table-striped table-bordered table-hover">
      <tbody>
	<tr>
	  <th>Name</th>
	  <td>{{ professorName }}</td>
	</tr>
	<tr>
	  <th>E-mail</th>
	  <td>{{ user.email }}</td>
	</tr>
      </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
      <tbody>
	<tr>
	  <th>Advisee</th>
	  <td>{{ advisee.full_name }}</td>
	  <td>
	    {% if advisee %}
	      <a class="submitButton" href="{% url 'update_advisee'%}?next={{request.path|urlencode}}">Change</a>
	    {% else %}
	      <a class="submitButton" href="{% url 'update_advisee'%}?next={{request.path|urlencode}}">Choose</a>
	    {% endif %}
	  </td>
	</tr>
      </tbody>
    </table>

    <p>
      You can also <strong>view enrollments</strong> in classes.
      To do so, first type in a full or partial course number (e.g., phy211 or mat15):
    </p>
    <form action="{% url 'search' %}" method="get">
      <input type="text" name="q" style="vertical-align:top">
      <input type="submit" value="Search" class="submitButton">
    </form>

  {% else %}
    <p>Name: {{ user.student.full_name }} </p>
    <p>Email: {{ user.email }}</p>
    <p>Majors: </p>
    {% for major in  user.student.majors.all %}
    <p> {{ major }} </p>
    {% endfor %}
      (<a class="other" href="{% url 'update_major' %}">Change</a>)
    </p>
    <p>Entering Year: {{ user.student.entering_year }}</p>

  {% endif %}
 </div>
  <script>
    $(window).load(function(){
    $("#nav-profile").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Profile</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>

{% endblock %}
