{% extends "base.html" %}

{% block sidebar %}
  <div class="alert alert-student-info">
  {% if isProfessor %}
    <table class="table table-striped table-bordered table-hover">
      <tbody>
	<tr>
	  <th>Name</th>
	  <td>{{ professorname }}</td>
	</tr>
	<tr>
	  <th>E-mail</th>
	  <td>{{ user.email }}</td>
	</tr>
      </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
      <tbody>
	<tr>
	  <th>Advisee</th>
	  <td>{{ advisee.name }}</td>
	  <td>
	    {% if advisee %}
	      <a class="btn" href="{% url 'update_advisee' 0 %}">Change</a>
	    {% else %}
	      <a class="btn" href="{% url 'update_advisee' 0 %}">Choose</a>
	    {% endif %}
	  </td>
	</tr>
      </tbody>
    </table>

    <p>
      You can also <strong>view enrollments</strong> in classes.
      To do so, first type in a full or partial course number (e.g., phy211 or mat15):
    </p>
    <form action="{% url 'search' %}" method="get">
      <input type="text" name="q">
      <input type="submit" value="Search">
    </form>

  {% else %}
    <p>Name: {{ user.student.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Major: {{ user.student.major }}
      (<a class="other" href="{% url 'update_major' user.student.id %}">Change</a>)
    </p>
    <p>Entering Year: {{ user.student.entering_year }}</p>

  {% endif %}
 </div>

{% if courses_that_were_moved %}
<p>
<b style="color:red;"> WARNING!!!</b>
</p>
	 <div class="alert alert-error">
	  <p>
	    <b> One or more courses in your plan has been moved
	    to a different semester.*</b>
	    </p>
	  <p> We apologize, but you must either delete the following courses, or
	    move them to a 
	    semester during which they are actually offered.
	    </p>
	  </div>
{% for course in courses_that_were_moved %}
<p> <strong>{{course.course}} will no longer be offered</strong> in {{course.semester}} of {{course.year}} </p>
{% endfor %}

<p> *While the courses were originally planned to be offered during certain semesters, those plans have changed, so you must adjust your plan accordingly.  Sorry!
</p>
{% endif %}
  <script>
    $(window).load(function(){
    $("#nav-profile").addClass("current");
    $('.page-name').find('h1').replaceWith('<h1>Profile</h1>');
    $(".page-name").stop().animate({opacity: 1,'margin-left': '5%'}, 700);});
  </script>

{% endblock %}
