{% extends "base.html" %}

{% block content %}
  <h1>Standard Courses</h1>
  <form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
    <div class="updatesemester_div">
      {% if form.courses.errors %}
	<p class = "error">{{ form.courses.errors }}</p>
      {% endif %}

      <p>Select a standard course to add to your four-year plan.</p>
      <p>{{ form.courses }}</p>
    </div>

    <p>
      <input type="submit" alt="register" />
    </p>
  </form>

  <h1>Create Your Own Course</h1>
<p>
  If a standard course doesn't fit your graduation requirements, you can
  create your own course.
  Here are some situations in which you should create your own course:
  <ul>
    <li>
      You transferred, or plan to transfer, a course from another institution
    </li>
    <li>
      A course is offered during the present semester,
      but doesn't appear in the standard course list.
    </li>
  </ul>
</p>

<p>List of "create your own" courses for the present semester:
  <ul>
    {% for course in sccdatablock %}
      <li>
	{{course.cname}}
	({{course.cnumber}},
	{{course.ccredithrs}} hrs{{course.equivalentcourse}}{{course.sp}}{{course.cc}})
	(<a class="other" href="{% url 'update_cyoc' instanceid course.courseid %}">Edit</a>,
	<a class="other" href="{% url 'delete_cyoc' 2 instanceid course.courseid %}">Delete</a>)
      </li>
    {% endfor %}
  </ul>
</p>

<p>To add a "create your own" course,
  <a href="{% url 'add_cyoc' instanceid %}">click here</a>.
</p>
{% endblock %}
