body
{
background-color:rgb(170,200,170);
}



#pageContainer
{
font-family:courier;
font-size:20px;
font-family:calibri;
}


#nav_top_right
{
text-align:right;
}

#footer
{
text-align:center;
}

table
{
text-align:center;
border-collapse:collapse;
margin:45px;
font-size:20px;
}

.thick
{
width:200px;
border-left:4px solid grey;
border-top:4px solid grey;
border-bottom:4px solid grey;
border-right:4px solid grey;
background-color:rgb(200,200,200);
color:black;
text-align:center;
vertical-align:center;
}

.thin
{
height:50px;
border:1px solid black;
background-color:white;
vertical-align:bottom;
font-weight:bold;
}

th
{
color:red;
}






p
{
color:rgb(50,50,50);
}

a.top
{
font-size:1.2em;
font-family:arial;
color:rgb(50,50,50)
}


a.other
{
text-decoration:none;
color:rgb(80,150,150);
font-family:courier;
}

ul
{

}

li.semester
{
font-size:1em;
font-color:rgb(50,50,50);
list-style:none;

}

li.course
{
margin-left:60px;
color:#555;
font-size:0.8em;
font-family:arial;
}