body
{
background-color:#8F9DAA;
}


div.box
{
width: 1000px;
padding: 10px;
border: 2px solid gray;
margin: 0px;
}

ul#nav {margin: 0 0 0 10px}
ul.drop a { display:block; color: #aaa; text-align: left; font-family: Verdana; font-size: 14px; text-decoration: none}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; border: 1px solid #ccc; background: #555; color: #fff;}
ul.drop { position: relative; float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 0px 10px; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #888; }
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 260px; background: #555; border: 1px solid #ccc;  margin: 0 0 0 40px;  }
ul.drop ul li { float: none; position: relative;}
ul.drop ul ul { top: -2px; left: 100%;}
ul.drop li:hover > ul { visibility: visible }

nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 15px;
	border-radius: 15px;  
	list-style: none;
	position: relative;
	display: inline-table;
        font-family:calibri;
        font-size:20px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
nav ul ul {
    display: none;
}
    nav ul li:hover > ul {
	display: block;
    }
nav ul li {
	float: left;
}
        nav ul li:hover {
		background: #4b545f;
                background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
                z-index: 599
	}
		nav ul li:hover a {
			color: #fff;
		}	
	nav ul li a {
		display: block; padding: 15px 30px;
		color: #757575; text-decoration: none;
	}
nav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #4b545f;
			}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}


#pageContainer
{
font-size:20px;
font-family:calibri;
}


.nav_top_right
{
text-align:right;
color:black;
text-decoration:none;
}

#footer
{
text-align:center;
color:rgb(150,150,150)
font-family:calibri;
font-size:20px;
}

table
{
text-align:center;
border-collapse:collapse;
margin:45px;
font-size:20px;
}

td.thick
{
border-left:4px solid black;
border-top:4px solid black;
border-bottom:4px solid black;
border-right:4px solid black;
background-color:rgb(200,200,200);
color:black;
text-align:center;
vertical-align:center;
}


td.red
{
border-left:4px solid black;
border-top:4px solid black;
border-bottom:4px solid black;
border-right:4px solid black;
background-color:rgb(200,200,200);
color:red;
text-align:center;
vertical-align:center;
}


.thin
{
height:50px;
border:1px solid black;
background-color:white;
vertical-align:bottom;
font-weight:bold;
}

td.thickleft
{
text-align:left;
border-left:4px solid black;
border-top:4px solid black;
border-bottom:4px solid black;
border-right:4px solid black;
background-color:rgb(200,200,200);
color:black;
vertical-align:center;


}

td.note
{
text-align:left;
border:4px solid black;
background-color:rgb(200,200,200);
color:black;
width:1000px;


}



p.note
{
margin-left:12px;
margin-top:12px;
margin-bottom:12px;
margin-right:12px;
}

p.margin
{
margin-left:12px;
margin-top:0px;
margin-bottom:0px;
}

td.blank
{
background-color:rgb(170,200,170)
border:4px solid rgb(170,200,170)
}

th
{
color:black;
border:4px solid black;
background-color:rgb(150,150,150);
text-align:center;
vertical-align:center;
}

th.name
{
width:450px;
}

th.number
{
width:110px;
}

th.hrs
{
width:100px;
}

th.acthrs
{
width:120px;
}

th.SPCC
{
width:80px;
}

th.taken
{
width:250px;
}

p
{
color:rgb(50,50,50);
}

a.top
{
font-size:1.2em;
font-family:arial;
color:rgb(50,50,50)
}


a.other
{
text-decoration:none;
color:#cccccc;
font-family:calibri;
}

ul
{

}

li.semester
{
font-size:1em;
font-color:rgb(50,50,50);
list-style:none;

}

li.course
{
margin-left:60px;
color:#555;
font-size:0.8em;
font-family:arial;
}
