{% extends "base.html" %}
{% block extrahead %}
{% endblock %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
<div class="cyoc_div">
  {% if form.name.errors %}<p class = "error">{{ form.name.errors }}</p>{% endif %}
  <p><label form="name" {% if form.name.errors %} class ="error"{% endif %}>Course Name:</label></p>
  <p>{{ form.name }}</p>
</div>
<div class="cyoc_div">
  {% if form.number.errors %}<p class = "error">{{ form.number.errors }}</p>{% endif %}
  <p><label form="number" {% if form.number.errors %} class ="error"{% endif %}>Course Number:</label></p>
  <p>{{ form.number }}</p>
</div>
<div class="cyoc_div">
  {% if form.credit_hours.errors %}<p class = "error">{{ form.credit_hours.errors }}</p>{% endif %}
  <p><label form="credit_hours" {% if form.credit_hours.errors %} class ="error"{% endif %}>Number of credit hours:</label></p>
  <p>{{ form.credit_hours }}</p>
</div>
<div class="cyoc_div">
  {% if form.sp.errors %}<p class = "error">{{ form.sp.errors }}</p>{% endif %}
  <p><label form="sp" {% if form.sp.errors %} class ="error"{% endif %}>SP:</label></p>
  <p>{{ form.sp }}</p>
</div>
<div class="cyoc_div">
  {% if form.cc.errors %}<p class = "error">{{ form.cc.errors }}</p>{% endif %}
  <p><label form="cc" {% if form.cc.errors %} class ="error"{% endif %}>CC:</label></p>
  <p>{{ form.cc }}</p>
</div>
<div class="cyoc_div">
  {% if form.equivalentcourse.errors %}<p class = "error">{{ form.equivalentcourse.errors }}</p>{% endif %}
  <p><label form="equivalentcourse" {% if form.equivalentcourse.errors %} class ="error"{% endif %}>Equivalent course at Taylor:</label></p>
  <p>{{ form.equivalentcourse }}</p>
  <p> (add this if you want the new course to be "picked up" by the graduation audit to meet a particular graduation requirement) </p>
</div>
<p><input type="submit" alt="register" /></p>
</form>
{% endblock %}
