{% extends "base.html" %}
{% block content %}

  {% if isProfessor %}
  <p> Advisee Name: {{ student.name }}  (<a class="other" href="/changeadvisee/2/">Choose a different advisee</a>)</p>
  {% else %}
  <p> Name: {{ student.name }}</p>
  {% endif %}
  <p> Major: {{ student.major }} </p>
  {% if hasMajor %}
  <p> Total Number of Credit Hours for Plan: 
    {% if credithrmaxreached %} 
       <b style="color:red;"> {{ totalhrsfouryears }}
  <p>(Note: Please consult with the Financial Aid Office regarding the 160 credit hour limit.)
   </p></b>
    {% else %}
       {{ totalhrsfouryears }}
    {% endif %}
  </p>
  <p></p>
  <p> Requirements:


    {% for req in majordatablock %}

     <ul style="list-style: none;">
	 <li> <b>{{ req.blockname }}</b> ({{ req.mincredithours }} hrs): </il>
         <li> {{ req.andorcomment }} </il>
         {% if req.textforuser %} 
	 </li><b> Note: </b>{{req.textforuser}} </il>
         {% endif %}
       </ul>


       <table>
       <tr>
       <th class = "name">
	 Course Name
       </th>
       <th class = "number">
	 TU Course #
       </th>
       <th class = "hrs">
	 Req Cr Hrs
       </th>
       <th class = "acthrs">
	 Actual Cr Hrs
       </th>
       <th class = "SPCC">
	 SP/CC
       </th>
       <th class = "taken">
	 Comments
       </th>
       </tr>

       {% for course in req.courselist %}

       <tr>
       <td class = "thickleft">
         <p class = "margin">{{ course.cname }}</p></td>
       <td class = "thick">
	 {{ course.cnumber }}</td>
       <td class = "thick">
	   {{ course.ccredithrs }} hrs</td>
       <td class = "thick">
	 {% if course.numcrhrstaken %}
          {% ifnotequal course.numcrhrstaken course.ccredithrs %}
	   <b style="color:red;">
	   {{ course.numcrhrstaken }} hrs
	   </b>
	   {% else %}
	   {{ course.numcrhrstaken }} hrs
	   {% endifnotequal %}
         {% endif %} 
       </td>
       <td class = "thick">
	   {% if course.sp and course.cc %} SP/CC {% elif course.sp %} SP {% elif course.cc %} CC {% endif %}</td>
	

	   {% if course.comment %}
	<td class = "thick">
	     {{course.comment }}
	   {% else %}
		{% if req.creditsok %}
	<td class = "thick">
	     
		{% else %}
		   <td class = "red">
		   Requirement not yet met.
		{% endif %}
	   {% endif %}
       </td>

       <td>
<!--
in the following the 1 means that we are coming FROM the grad audit page, {{course.sscid}} gives the ssc object
id and {{course.courseid}} gives the course id within the ssc objec
-->
  {% if isProfessor %} {% else %}
  <ul id="nav" class="drop">
    <li><a href="#">Add/Delete/Move</a>
        <ul>
	 {% if course.comment %}<!-- a course is currently scheduled -->
	  <li>
	    {% if course.iscyoc %}<!-- this is a cyoc -->
	      <a href="/deletecyoc/1/0/{{course.sscid}}/">delete</a></li>
	    {% else %}
	      <a href="/deletecourse/1/{{course.sscid}}/{{course.courseid}}/">delete</a></li>
            {% endif %}
         {% endif %}
            {% for alternatesemesters in course.othersemesters %}
	  <li><a href="/movecoursetonewsemester/1/{{course.sscid}}/{{alternatesemesters.courseid}}/{{course.courseid}}/"> 
	      {{alternatesemesters.semester}}; {{alternatesemesters.numhrsthissem}} hrs </a></li>
	    {% endfor %}
	</ul>
	</li>
   </ul>
   {% endif %} 




       </tr>
       {% endfor %}

	<tr>
	<td class="blank">  {% if req.blockcontainscyoc %}<p class = "margin">*User-created course(s).</p>{% endif %}  </td>
	<td class="blank"></td>
	<td class="blank"></td>
	{% if req.creditsok %}
	<td class="thick"> 
	{% else %}
	<td class="red">
	{% endif %}
	{{ req.credithrs }} hrs </td>
	<td class="blank"></td>
	<td class="blank"></td>
	</tr>


	</table>
       <p> </p>

       {% for comment in req.precocommentlist %}
          <p> <b style="color:darkred;">Warning: </b>{{comment}} </p>
       {% endfor %}

       


    {% endfor %}
  </p>

  <p> Courses Not Used to Meet Above Requirements:

       <table>
       <tr>
       <th class = "name">
	 Course Name
       </th>
       <th class = "number">
	 Course #
       </th>
       <th class = "acthrs">
	 Actual Cr Hrs
       </th>
       <th class = "SPCC">
	 SP/CC
       </th>
       <th class = "taken">
	 Comments
       </th>
       </tr>

       {% for course in unusedcourses %}

       <tr>
       <td class = "thickleft">
         <p class = "margin">{{ course.cname }}</p></td>
       <td class = "thick">
	 {{ course.cnumber }}</td>
       <td class = "thick">
	   {{ course.ccredithrs }} hrs</td>
       <td class = "thick">
	   {% if course.sp and course.cc %} SP/CC {% elif course.sp %} SP {% elif course.cc %} CC {% endif %}</td>
       <td class = "thick">
	 {% if course.comment %}
	     {{course.comment }}
	 {% endif %}
       </td>
       </tr>
       {% endfor %}

	<tr>
	<td class="blank"></td>
	<td class="blank"></td>
	{% if unusedcredithours %}
	<td class="thick"> 
	{{ unusedcredithours }} hrs </td>
	{% else %}
	<td class="blank"></td>
	{% endif %}
	<td class="blank"></td>
	<td class="blank"></td>
	</tr>


	</table>
       <p> </p>

  </p>

<p> SP Requirement -- at least 2 SP courses are required; you have {% if not SPreq %} <b style="color:red;">
    {{ numSPs }}</b>{% else %}{{ numSPs }}{% endif %} in your plan: </p>
  <p>
  <ul>
    {% for course in SPlist %}
    <li> {{course.cname}} ({{course.cnumber}}), {{course.comment}} </li>
    {% endfor %}
  </ul>
  </p>

  <p> CC Requirement -- at least 1 CC course is required; you have {% if not CCreq %} <b style="color:red;">
      {{ numCCs }}</b>{% else %}{{ numCCs }}{% endif %} in your plan: </p>
  <p>
  <ul>
    {% for course in CClist %}
    <li> {{course.cname}} ({{course.cnumber}}), {{course.comment}} </li>
    {% endfor %}
  </ul>
  </p>

  {% else %}
  {% if isProfessor %}
  <p> <b>A graduation audit cannot be performed, since the student has not yet chosen a major. </b></p>
  {% else %}
  <p> <b>Since you do not currently have a major, a graduation audit cannot be performed.</b>  You can choose
a major under <a class="other" href="/profile/">profile</a>.</p>
  {% endif %}
  {% endif %}

{% endblock %}
