body
{
background-color:rgb(255,104,31);
}



#pageContainer
{
font-family:courier;
font-size:20px;
font-family:calibri;
}


.nav_top_right
{
text-align:right;
color:white;
text-decoration:none;
}

.footer
{
text-align:center;
color:white
font-family:courier;
}

table
{
text-align:center;
border-collapse:collapse;
margin:45px;
font-size:20px;
font-family:courier;
}

td.thick
{
border-left:4px solid white;
border-top:4px solid white;
border-bottom:4px solid white;
border-right:4px solid white;
background-color:rgb(255,104,31);
color:white;
text-align:center;
vertical-align:center;
}


td.red
{
border-left:4px solid white;
border-top:4px solid white;
border-bottom:4px solid white;
border-right:4px solid white;
background-color:rgb(255,104,31);
color:blue;
text-align:center;
vertical-align:center;
}


.thin
{
height:50px;
border:1px solid white;
background-color:white;
vertical-align:bottom;
font-weight:bold;
}

td.thickleft
{
text-align:left;
border-left:4px solid white;
border-top:4px solid white;
border-bottom:4px solid white;
border-right:4px solid white;
background-color:rgb(255,104,31);
color:white;
vertical-align:center;


}


p.margin
{
margin-left:12px;
margin-top:0px;
margin-bottom:0px;
}

td.blank
{
background-color:rgb(255,104,31)
border:4px solid rgb(255,104,31)
}

th
{
color:white;
border:4px solid white;
background-color:rgb(255,104,31);
text-align:center;
vertical-align:center;
}

th.name
{
width:450px;
}

th.number
{
width:100px;
}

th.hrs
{
width:100px;
}

th.SPCC
{
width:100px;
}

th.taken
{
width:250px;
}

p
{
color:white;
font-family:courier
}

a.top
{
font-size:1.2em;
font-family:courier;
color:white
}


a.other
{
text-decoration:none;
color:white;
font-family:courier;
}

ul
{
color:white;
}

li.semester
{
font-size:1em;
font-color:rgb(50,50,50);
list-style:none;

}

li.course
{
margin-left:60px;
color:#555;
font-size:0.8em;
font-family:courier;
}