<html>
<head>
    <title>Student data</title>
</head>
<body>
    <h1>Hey student!</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <div class="field">
            {{ form.last_name.errors }}
            <label for="id_last_name">Last Name:</label>
            {{ form.last_name }}
        </div>
        <div class="field">
            {{ form.first_name.errors }}
            <label for="id_first_name">First Name:</label>
            {{ form.first_name }}
        </div>
        <div class="field">
            {{ form.email.errors }}
            <label for="id_email">E-mail:</label>
            {{ form.email }}
        </div>
        <div class="field">
            {{ form.major.errors }}
            <label for="id_major">Major:</label>
            {{ form.major }}
        </div>
        <div class="field">
            {{ form.entering_year.errors }}
            <label for="id_entering_year">Entering year:</label>
            {{ form.entering_year }}
        </div>
        <div class="field">
            {{ form.freshman_fall_courses.errors }}
            <label for="id_frfa_courses">Fresman fall courses:</label>
            {{ form.freshman_fall_courses }}
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
